header {
    height: 13vh;
    &>nav {    
        padding-top: 2rem;
        
        width: 90%;
        margin: 0 auto;
        background-color: white;
        position: sticky;
        top: 0px;
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        &>ul {
            display: grid;
            grid-template-columns: 0.7fr 0.7fr 1fr 0.7fr 1fr 2fr 1fr 1fr 1fr 1fr;
            list-style-type: none;
            &>li {

                padding-top: 3rem;
                float: left;

                text-align: center;
                position: relative;
            }
            &> ::after {
                content: "";
                display: table;
                clear: both;
            }
            
            &>li:nth-of-type(6){
                grid-column:7/8;
            }
            &>li:nth-of-type(9){
                    padding-top: 2.5rem;
            }

        }
        &>figure{
                padding-top: 1rem;
            }
        .a1 {
            font-family: 'Dosis', sans-serif;
            display: block;
            text-decoration: none;
            color: black;
            border-bottom: 2px solid transparent;
            padding: 10px 0px;
            &:hover {
                color: orange;
                border-bottom: 2px solid gold;
            }
        }
        &>ul {
            &>li {
                &:hover {
                    &>.sous {
                        display: block;
                    }
                }
            }
        }
    }
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 180%;
    z-index: 1000;
    li {
        height: 3rem;
       
        float: none;
        // width:80%;
        text-align: left;
    }
    a {
        padding: 10px;
        border-bottom: none;
         text-align:center;
         
         
        &:hover {
            border-bottom: none;
            background-color: RGBa(200, 200, 200, 0.1);
        }
    }
}

.deroulant {
    >a {
        
        &::after {
            display:inline-block;
               transform: rotate(90deg);
            content:">";
          

            font-size: 12px;
        }
    }
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}
.btn{
  
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius:30px;
}